body{
    background-color: darkslategrey;
}

#api-data{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 21px;
}



.api-data-style{
    background-color: whitesmoke;
    height: fit-content;
    width: fit-content;
    margin: 11px;
    border-radius: 7px 7px 7px;
    box-shadow: 3px 3px 3px 3px grey;
}

.search-api-data-style{
    background-color: whitesmoke;
    height: fit-content;
    width: fit-content;
    margin: 11px;
    border-radius: 7px 7px 7px;
    box-shadow: 3px 3px 3px 3px grey
}

.div1{
    background-color: darkcyan;
    height: 103px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: grey;
    font-size: 35px;
    font-weight: bold;
    
}

.div3{
    font-size: 35px;
    font-weight: bold;
    color: gray;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: underline;
}

.div4{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

@media screen and (max-width: 600px) {

    #api-data{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    #search-api-data{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-row-gap: 21px;
        justify-content: center;
    }

    .div1{
        font-size: 25px;
        font-weight: bold;
        height: 83px;
        text-align: center;
    }
    .div3{
        font-size: 30px;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
}

@media screen and (max-width: 768px) and (min-width: 600px){

    #api-data{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    }
    
}

@media screen and (max-width: 992px) and (min-width: 768px){

    #api-data{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    }
}